/* Grid system */

.j_image {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

.j_h_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.j_v_box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.j_item {
    margin: 0;
    border: 0;
    padding: 0;
    flex-grow: 0;
}

.j_f_spaced {
    justify-content: space-evenly;
}

/* Div properties */

.j_d_imgpreview {
    overflow: scroll;
}

.j_d_stretch {
    width: 100%;
    height: 100%;
}

.j_d_stretch_v {
    height: 100%;
}

.j_d_stretch_h {
    width: 100%;
}

.j_p {
    margin: 0;
    border: 0;
    padding: 1px;
}

/* Colors */

.j_cl_bg {
    background-color: #727272;
}

.j_cl_btn {
    background-color: #969696;
}

.j_fscr {
    padding: 0;
    margin: 0;
    border: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 0;
}
