<html>
    <title>W3.CSS</title>
    <head>
        <!-- W3CSS -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <!-- Async -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.0/async.min.js"></script>
        <!-- Controllers -->
        <script src="main.js"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="custom.css">
    </head>
    <body ng-app="mainApp" ng-controller="main_controller">
        <div class="w3-container">
            <h3>Interactive Verification</h3>
        </div>
        <div class="w3-container">
            <div class="w3-col s3">
                <a href="#" class="w3-button w3-black" ng-click="button_load()">Load</a>
            </div>
            <div class="w3-col s3">
                <a href="#" class="w3-button w3-black" ng-click="button_next()">Next</a>
            </div>
        </div>
        <div class="j_v_box">
            <div class="j_item" ng-repeat="x in d.examples track by $index">
                <div class="j_h_box">
                    <!-- Normals -->
                    <div class="j_item">
                        <img class="j_image" src="blank.png" id="img_normals_{{x.num}}">
                    </div>
                    <!-- Distance -->
                    <div class="j_item">
                        <img class="j_image" src="blank.png" id="img_distance_{{x.num}}">
                    </div>
                    <!-- 1 SPP -->
                    <div class="j_item">
                        <div class="j_v_box">
                            <div class="j_item">
                                <img class="j_image" src="blank.png" id="img_low_{{x.num}}">
                            </div>
                            <div class="j_item">
                                <p class="j_p">L1: {{x.low.l1}}</p>
                                <p class="j_p">SS: {{x.low.ss}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Gaussian -->
                    <div class="j_item">
                        <div class="j_v_box">
                            <div class="j_item">
                                <img class="j_image" src="blank.png" id="img_gauss_{{x.num}}">
                            </div>
                            <div class="j_item">
                                <p class="j_p">L1: {{x.gauss.l1}}</p>
                                <p class="j_p">SS: {{x.gauss.ss}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Predicted -->
                    <div class="j_item">
                        <div class="j_v_box">
                            <div class="j_item">
                                <img class="j_image" src="blank.png" id="img_pred_{{x.num}}">
                            </div>
                            <div class="j_item">
                                <p class="j_p">L1: {{x.pred.l1}}</p>
                                <p class="j_p">SS: {{x.pred.ss}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Ground truth -->
                    <div class="j_item">
                        <img class="j_image" src="blank.png" id="img_ground_{{x.num}}">
                    </div>
                    <!-- Text info -->
                    <div class="j_item">
                        <p class="j_p">{{x.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 
